# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Temporary files
*.bak
*.tmp

# Exclude large/unnecessary folders
Engine/
help-en/
Prints/

# Test files
test.ts
test_all.ts
create_hayuasaka.ts
